:root {
  --background-color: #1F63D1;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18pt;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

header {
  height: 15%;
  background-color: var(--background-color);
  display: block;
  margin-top: none;
}

footer {
  height: 15%;
  background-color: var(--background-color);
  display: block;
  margin-bottom: none;
}

div.content {
  color: #000000;
  font-size: 1em;
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 2.5em;
  font-family: "Bebas Neue", sans-serif;
}
