:root {
  --background-color: #1F63D1;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18pt;
}

body {
  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

header {
  background-color: var(--background-color);
  color: #FFFFFF;
}

footer {
  background-color: var(--background-color);
  color: #FFFFFF;
}

div.content {
  color: #000000;
  font-size: 1em;
  font-family: Inter, sans-serif;
  margin: 25px;
}

h1 {
  font-size: 2.5em;
  font-family: "Bebas Neue", sans-serif;
}

footer a {
  color: inherit;
  text-decoration: none;
  border: 1px dashed #FFFFFF;
}

footer a:hover {
  background-color: rgba(255,255,255,0.2);
  border-style: solid;
  transition: 0.3s;
}

span.bold {
  font-weight: bold;
}

div.destination-flex {
  width: 350px;
  height: 500px;
  background-color: #8F8F8F;
}

div.destination-flex img {
  width: 50%;
  height: auto;
  border: 1px solid #000000;
  border-radius: 5px;
}
